{% extends 'base.html.twig' %}

{% block title %}Hello LadderController!{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <b>Teamname : Score</b><br>
        {% for Team in topTeams %}
            {{ Team.teamName }} : {{ Team.score }} <br>
        {% endfor %}
        {% for match in bracket %}
            <p>{{ match.homeTeam.teamName }} vs {{ match.awayTeam.teamName }}</p>
        {% endfor %}

    </div>
{% endblock %}
