{% extends 'base.html.twig' %}

{% block title %}Hello LadderController!{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <b>Teamname : Score</b><br>
        {% for Team in topTeams %}
            {{ Team.teamName }} : {{ Team.score }} <br>
        {% endfor %}
        {% for team in firstHalf %}
            <p>{{team.teamname}} vs {{ secondHalf[loop.index0].teamName }}</p>
        {% endfor %}

    </div>
{% endblock %}
